

// Fonts
$fontfamily: 'Alte Haas Grotesk', sans-serif;
$fontfamily_2: 'Roboto Flex Variable', sans-serif;

// Colors
$color-green: #C1F4A5;
$color-white: #fff;

// Border radius
$page-width-lg: 144.6rem;
$page-width-sm: 85%;

// Breakpoints
$breakpoint-sm: 390px;
$breakpoint-md: 768px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
