

// Fonts
@import "@fontsource/poppins";
@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
$fontfamily: 'Poppins', sans-serif;

// Colors
$color-azul: #5871F8;
$color-rosa: #D31671;
$color-gris-claro: #DFDAD6;
$color-gris-oscuro: #BDB6AB;

// Border radius
$page-width-lg: 144.6rem;
$page-width-sm: 85%;

// Breakpoints
$breakpoint-sm: 390px;
$breakpoint-md: 768px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
