

// Fonts
$fontfamily: 'Poppins', sans-serif;

// Colors
$color-azul: #5871F8;
$color-gris-claro: #DFDAD6;
$color-gris-oscuro: #BDB6AB;

// Border radius
$page-width-lg: 144.6rem;
$page-width-sm: 85%;

// Breakpoints
$breakpoint-sm: 390px;
$breakpoint-md: 768px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
